.typing-indicators {
  margin-bottom: 5px;
  min-height: 20px; /* prevent layout jump */
}

.typing-user-enter {
  opacity: 0;
  transform: translateY(-5px);
}
.typing-user-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.typing-user-exit {
  opacity: 1;
  transform: translateY(0);
}
.typing-user-exit-active {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 300ms, transform 300ms;
}
